---
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogPost from '../../components/BlogPost.astro';

export async function getStaticPaths() {

    return [...new Set((await Astro.glob('../posts/*.md')).map((post: { frontmatter: { tags: any; }; }): any => post.frontmatter.tags).flat())].map(async (tag) => {
      const filteredPosts = (await Astro.glob('../posts/*.md')).filter((post: { frontmatter: { tags: unknown[]; }; }) => post.frontmatter.tags.includes(tag));
      return {
        params: { tag },
        props: { posts: filteredPosts },
      };
    });
}

const { tag } = Astro.params;
const { posts } = Astro.props;

---
<BaseLayout pageTitle={"タグ: "+tag}>
  <p>{tag}のタグが付いた記事</p>
  {posts.map((post: { url: any; frontmatter: { title: any; pubDate: any; tags: any; description: any; }; }) => <BlogPost url={post.url} title={post.frontmatter.title} pubDate={post.frontmatter.pubDate} tags={post.frontmatter.tags} description={post.frontmatter.description}/>)}
  <p>
    <a href="./" class="btn-flat-border">記事一覧へ</a>
    <a href="../tags" class="btn-flat-border">タグ一覧へ</a>
</p>
</BaseLayout>