---
const {title, url, pubDate, tags, description} = Astro.props;
---
<div class="article-card">
    <p class="article-card-title"><a href={url}>{title}</a></p>
    <p>{pubDate.slice(0,10)}</p>
    <p>{description}</p>
    <p class="tag">
        タグ:
        {tags.map((tag) => (
            <a href={`/tags/${tag}`}>{tag}</a>
          ))}
    </p>

</div>
